.wrap_table_result {
  top: 3px;
  right: -36px;
  font-size: 24px ;
  cursor: pointer;
}
.table_container {
  table {
    border: 2px solid #000;
  }
}

#download_result {
  position: absolute;
  top: -41px;
  right: 11px;
  font-size: 25px;
  //display: none;
  cursor: pointer;
}
#download_result_link {
  @include color-link(#000);
  display: none;
}